# Created by https://www.toptal.com/developers/gitignore/api/c,c++,platformio,clion

### C ###
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.su
*.idb
*.pdb

### C++ ###
*.ii
*.tii
*.class
*.res
*.sbr

### CLion ###
.idea/
cmake-build-*/
out/

### PlatformIO ###
.pio/
.pioenvs/
.piolibdeps/
__pycache__/
*.pyc

### Python venv ###
.venv/
venv/
